header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 50px;
}

nav {
    display: flex;
    gap: 200px; /* Adds space between the links and buttons */
}

nav a,
nav button {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav button {
    cursor: pointer;
    padding: 10px 30px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

nav a:hover,
nav button:hover {
    color: #007bff;
}

/* New styles for the center section */
.header-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.header-center .product,
.header-center .cart,
.header-center .login,
.header-center .signup 
{
    margin: 0 15px;
}